<div class="seccion-fondo"> 
  <div class="container mt-4">
    <div class="row align-items-center">
      
      <!-- Formulario envuelto con fondo blanco semitransparente -->
      <div class="col-md-6">
        <div class="form-container p-4 rounded shadow">
          <h1 class="text-center mb-4">Inicie sesión</h1>
          <form class="form" (ngSubmit)="iniciarSeccion()">

            <!-- Campo: Correo -->
            <div class="mb-3 w-100 px-4">
              <label for="correo" class="form-label">Correo</label>
              <input id="correo" [(ngModel)]="correo" name="correo" type="text" class="form-control" placeholder="Ingrese correo">              
            </div>

            <!-- Campo: Contraseña -->
            <div class="mb-3 w-100 px-4">
              <label for="contrasena" class="form-label">Contraseña</label>
              <input id="contrasena" [(ngModel)]="contrasena" name="contrasena" type="password" class="form-control" placeholder="Ingrese contraseña">

            </div>

            <!-- Botón centrado -->
            <div class="d-flex justify-content-center mt-4 px-4">
              <button type="submit" class="btn btn-primary px-4">Iniciar sesión</button>
            </div>

            <!-- Recuperar contraseña -->
            <div class="text-center mt-3">
              <a href="#" class="text-primary text-decoration-none">¿Olvidaste tu contraseña?</a>
            </div>
            @if (loading) {
            <app-loading />
            }
          </form>
        </div>
      </div>

      <!-- Columna 2: Imagen y texto -->
      <div class="col-md-6 text-center">
        <h1 class="text-white display-4">¡Bienvenido a MiDuelo!</h1>
        <img src="/imagenes/branding/logo.png" alt="Logo" class="img-fluid mt-3" style="max-height: 250px;">
      </div>

    </div>
  </div>
</div>
