<!-- @if (isAuthenticated()) {
    <app-navbar-psicologo></app-navbar-psicologo>
   <router-outlet></router-outlet>
   <app-footer></app-footer>
}
@if (!isAuthenticated()) {
    <app-nav-bar ></app-nav-bar>
   <router-outlet></router-outlet>
   <app-footer></app-footer>
}
 -->

 @if (isAuthenticated() && isAdmin()) {
    <app-navbar-admin></app-navbar-admin>
   <router-outlet></router-outlet>
   <app-footer></app-footer>
}
@else if (isAuthenticated() && !isAdmin()) {
    <app-navbar-psicologo></app-navbar-psicologo>
   <router-outlet></router-outlet>
   <app-footer></app-footer>
}
@else {
    <app-nav-bar ></app-nav-bar>
   <router-outlet></router-outlet>
   <app-footer></app-footer>
}



