<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Marca/logo -->
    <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']">
      <img [src]="logoPath" alt="MiDuelo" width="45" height="45" class="d-inline-block align-text-top me-0">
      MiDuelo
    </a>

    <!-- Botón para colapsar menú en pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Elementos del menú colapsable -->
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto"> <!-- ms-auto empuja el menú hacia la derecha -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">¿Qué es MiDuelo?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/duelo-y-perdida']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Duelo y pérdida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contactos-de-apoyo']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contactos de apoyo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/iniciar-sesion']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
