.form-container {
  background-color: rgba(255, 255, 255, 0.85); /* blanco semitransparente */
  border-radius: 10px;
}
.seccion-fondo {
  background-image: url('/imagenes/branding/fondo_login.png'); /* cambia la ruta según tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0; /* espacio arriba y abajo */
}
