:root {
  --color-morado: #5015BD;
  --color-azul-claro: #68B2F8;
  --degradado-navbar: linear-gradient(135deg, var(--color-morado) 0%, var(--color-azul-claro) 100%);
}

.mi-duelo-hero {
  min-height: 70vh;
  background: var(--degradado-navbar);
}

.hero-logo {
  max-width: 350px;
  filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.4));
}

h2 {
  color: var(--color-morado);
  font-weight: bold;
}
